<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste de Navegação</title>
</head>
<body>
  <header>
    <app-menu></app-menu>
  </header>

    <main>
      <div class="section">
        <div class="container">
          <div class="row text-left mb-5">
            <div class="col-12">
              <h2 class="font-weight-bold heading text-primary mb-4">Sobre nós</h2>
            </div>
            <div class="col-lg-6">
              <p class="text-black-50">
                Com o objetivo de acolher e abrigar cães e gatos em situação de risco e abandono, a Associação AdoCão em Defesa dos Animais foi oficialmente fundada em março de 2001.
              </p>
              <p class="text-black-50">
                Durante todos esses anos de atividade, foram muitos os animais resgatados, muitos sem possibilidade de salvação, pois, via de regra, foram vítimas de envenenamento, atropelamento, espancamento, dentre vários outros tipos de maus-tratos.
              </p>
              <p class="text-black-50">
                Uma vez resgatados, os animais recebem os primeiros cuidados veterinários e seguem para a quarentena, onde ficam em observação, sendo também examinados, vermifugados e esterilizados. Recebem durante todo esse processo a atenção e os cuidados necessários para que consigam se recuperar o mais rapidamente possível dos traumas sofridos. Após o período de quarentena, eles passam a conviver com outros animais para se socializar e, dessa maneira, completar também o ciclo de recuperação psicológica, ficando finalmente aptos à adoção. As adoções ocorrem principalmente através de visitação direta ao abrigo ou em eventos específicos, as chamadas “Feirinhas de Adoção”. Com o objetivo de aumentar o número de adoções.
              </p>
            </div>
            <div class="col-lg-6">
              <p class="text-black-50">
                Durante todos esses anos de atividade, foram muitos os animais resgatados, muitos sem possibilidade de salvação, pois, via de regra, foram vítimas de envenenamento, atropelamento, espancamento, dentre vários outros tipos de maus-tratos.
              </p>
              <p class="text-black-50">
                Umaaa vrez resgatados 00, os animais recebem os primeiros cuidados veterinários e seguem para a quarentena, onde ficam em observação, sendo também examinados, vermifugados e esterilizados. Recebem durante todo esse processo a atenção e os cuidados necessários para que consigam se recuperar o mais rapidamente possível dos traumas sofridos. Após o período de quarentena, eles passam a conviver com outros animais para se socializar e, dessa maneira, completar também o ciclo de recuperação psicológica, ficando finalmente aptos à adoção. As adoções ocorrem principalmente através de visitação direta ao abrigo ou em eventos específicos, as chamadas “Feirinhas de Adoção”. Com o objetivo de aumentar o número de adoções.
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </main>

    <footer>
      <p>Rodapé da página</p>
    </footer>
  </body>
</html>
