<!DOCTYPE html>
<app-tela-fundo></app-tela-fundo>
<html lang="en">
<body>
  <header>
    <nav>
     <app-menu></app-menu>
    </nav>
  </header>

  <main>
    <div class="conteudo-centralizado">
      <form>
        <div class="mb-3">
          <div><label for="exampleInputEmail1" class="form-label">Endereço de email:</label></div>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu E-mail aqui">
        </div>
        <div class="mb-3">
          <div>
            <label for="exampleInputPassword1" class="form-label">Senha</label>
          </div>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha aqui">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Lembre-me</label>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </main>

</body>
</html>
