
html, body, .tela-fundo {
  min-height: 95vh;

}

.tela-fundo {
  background: url(/assets/imagens/adote2.png) no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

/* Sobreposição de cor */
.tela-fundo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
