/* Estilo para o conteúdo centralizado */
.conteudo-centralizado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Cor do texto, ajuste conforme necessário */
  z-index: 1; /* Garante que o texto fique sobre a imagem */
}

.conteudo-centralizado h1 {
  font-size: 40px; /* Tamanho da fonte, ajuste conforme necessário */
}

/* Estilo para os botões */
.btn-primary {
  display: block;
  width: 200px; /* Largura dos botões, ajuste conforme necessário */
  margin: 10px auto; /* Margem para centralizar os botões */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

/* Estilo para os botões quando hover */
.btn-primary:hover {
  background-color: #0056b3;
}
